body {
    background-color: darkgrey;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: "Agency FB";
    border: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
        background: gray;

}

p {
    font-size: 35px;
    font-family: "Agency FB";
    text-align: center;

    border: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    background: gray;

}

label {
    font-size: 35px;
    font-family: "Agency FB";
    border: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    background: gray;
    margin-left: 450px;

}

select {
    font-size: 35px;
    font-family: "Agency FB";
}

input {
    font-size: 35px;
    font-family: "Agency FB";
}

button {
    font-size: 35px;
    font-family: "Agency FB";
    margin-left: 545px;
    margin-top: 150px;

}

div {
    font-size: 35px;
    font-family: "Agency FB";
}
