body {
    background-color: darkgrey;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: "Agency FB";
    border: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
        background: gray;
    margin-left: 700px;
    margin-right: 665px;
}
p {
    font-size: 35px;
    font-family: "Agency FB";
    text-align: center;

    border: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    background: gray;
    margin-left: 700px;
    margin-right: 665px;
}

